<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuzichu.blog.dao.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.zhuzichu.blog.model.Article">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="date" jdbcType="INTEGER" property="date" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="love" jdbcType="INTEGER" property="love" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="visible" jdbcType="TINYINT" property="visible" />
    <result column="eyes" jdbcType="INTEGER" property="eyes" />
  </resultMap>

  <select id="selectAllDesc" resultMap="BaseResultMap">
    SELECT id,title,article.date,uid,love,description,visible,eyes FROM article ORDER BY article.date DESC
  </select>
  
  <select id="selectAllDescVisible" resultMap="BaseResultMap">
     SELECT id,title,article.date,uid,love,description,eyes FROM article WHERE visible=1 ORDER BY article.date DESC
  </select>
</mapper>