<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuzichu.blog.dao.ProjectMapper">
  <resultMap id="BaseResultMap" type="com.zhuzichu.blog.model.Project">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column=" cycle" jdbcType="VARCHAR" property="cycle" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="rank" jdbcType="VARCHAR" property="rank" />
  </resultMap>
</mapper>